<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Сайт для интервального повторения информации. Поможет вам эффективно запоминать любую информацию и иностранные слова.">
	<meta name="keywords"
		content="интервальное повторение, запоминание информации, запоминание слов, запоминание иностранных слов, обучение, эффективное обучение, обучение с помощью интервалов, обучение с повторениями">
	<meta name="author" content="Райгель Владимир Александрович VRaygel">
	<link rel="icon" href="/image/favicon.ico" type="image/png">
	<link rel="stylesheet" href="/css/style.css">
	<title>Memboost Добавить новый термин</title>
</head>

<body>
	<%- include('menu.ejs') %>

		<section class="section sections">
			<!-- <nav class="sections__nav">
				<ul class="section__nav-list flex">
					<li><a class="sections__nav-link" href="">Новый раздел</a></li>
					<li><a class="sections__nav-link" href="/study/repetition">Повторять термины</a></li>
				</ul>
			</nav> -->
			
			<h1 class="sections__title_invisible">Интервальное повторение:
				Ключ к Эффективному Запоминанию Иностранных Языков</h1>
			<h2 class="sections__title">Новый термин: <%= dictionary.name %></h2>


			<form class="section__form--add-new-term updateDictionary" action="/words/addWord/<%= dictionary._id %>"
				method="POST" enctype="multipart/form-data">
				<div class="section__form--wrapper">

					<div class="section__form--inner">
						<label class="section__form--label-file" for="fileInputImg">Добавить изображение</label>
						<label class="section__form--label-file" for="fileInputAudio">Добавить аудио</label>
						<input class="section__form--input-file fileInput" type="file" name="file" id="fileInputImg"
							accept=".jpg, .jpeg, .png, .gif, .bmp" maxlength="5242880">
						<input class="section__form--input-file fileInput" type="file" name="file" id="fileInputAudio"
							accept=".mp3, .wav, .ogg, .aac, .flac" maxlength="5242880">
					</div>

					<label class="section__label" for="new_term">Термин:</label>
					<textarea class="section__desc" id="new_term" name="word" ></textarea>

					<label class="section__label" for="translation">Определение:</label>
					<textarea class="section__desc" id="translation" name="translation"></textarea>

					<label class="section__label" for="term__link">Ссылка:</label>
					<input class="sections__form-input" id="term__link" name="term__link">


				</div>

				<button class="section__btn section__btn_wide section__btn-add_form">+</button>
				<button class="section__btn section__btn_wide" type="submit">Сохранить</button>

			</form>

		</section>



		<%- include('footer.ejs') %>
			<%- include('template.ejs') %>
				<script src="/js/script.js"></script>
</body>

</html>