<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Memoria Добавить новый термин</title>
</head>

<body>
	<%- include('template.ejs') %>
	<%- include('menu.ejs') %>
	<div class="container">
		<div class="wrapper">
		
		<h1>Новый термин</h1>
		<form class="updateDictionary" action="/words/addWord/<%= dictionary._id %>" method="POST">
			<p class="updateDictionary_label" for="word">Термин:</p>
			<textarea type="text" id="word" name="word" value="<%= dictionary.word %>" required></textarea>
			<!-- <textarea name="" id="" cols="30" rows="10"> -->
			<p class="updateDictionary_label"  for="translation">Определение:</p>
			<textarea type="text" id="translation" name="translation" value="<%= dictionary.translation %>"
				required></textarea>
				<button class="create-button" type="submit">Сохранить</button>
		</form>
		
	</div>
</div>
</body>

</html>