<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>User Information</title>
</head>

<body>
    <%- include('template.ejs') %>
    <div class="container">
        <%- include('menu.ejs') %>
       
            <h1>Пользователи</h1>
						<a href="/admin/createUser">Добавить нового пользователя</a>
            <table>
                <tr>
                    <th>Логин</th>
                    <!-- <th>Имя</th> -->
                    <th>Баланс MemoCoin</th>
                    <!-- <th>Telegram</th> -->
                    <th>Максимум словарей</th>
                    <th>Максимум Слов</th>
                    <th>Всего словарей</th>
                    <th>Всего слов</th>
                    <th>Действие</th>
                </tr>
                <% users.forEach(user => { %>
                    <% let id = user._id %>
                    <% let countDictionaries = 0 %>
                    <% let countWords = 0 %>
                    <tr>
                        <td><%= user.userlogin %></td>
                        <!-- <td><%= user.username %></td> -->
                        <td><%= user.balance.memoCoin %></td>
                        <td><%= user.dictionaries.dictionariesMax %></td>
                        <td><%= user.words.wordsMax %></td>
                        <!-- <td><%= user.contactinfo.telegramm %></td> -->
                        <td><%= user.dictionaries.dictionariesСreated %></td>
                        <td><%= user.words.wordsСreated %></td>
                        <td>
                            <a href="/admin/editUser/<%= user._id %>">Редактировать</a>
                            <form action="/admin/deleteUser/<%= user._id %>" method="post" onsubmit="return confirm('Вы уверены?')">
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </table>

    </div>
</body>

</html>
