<!-- Ваш шаблон EJS -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Memoria <%= dictionary.name %>
    </title>
</head>

<body>
    <%- include('template.ejs') %>
        <%- include('menu.ejs') %>
            <div class="container">
                <div class="wrapper">
                    
                    <div class="purchase">
                        <form class="deleteProfil" action="/dictionaries/deleteDictionary/<%= dictionary._id %>"
                            method="POST" onsubmit="return confirm('Вы уверены, что хотите удалить этот раздел?')">
                            <!-- <a type="submit">Удалить профиль</a> -->
                            <button class="delete-button" type="submit"><a>Удалить</a></button>
                        </form>
                        <!-- <button class="delete-button deleteDictionary" onclick="confirmDelete('<%= dictionary._id %>')">Удалить</button> -->
                        <!-- <button class="deleteDictionary" onclick="confirmDelete('<%= dictionary._id %>')">Удалить
                                словарь</button> -->
                    </div>
                    <h1>Термины</h1>
                    <div class="dictinaries_menu">
                        <a href="/words/addWordPage/<%= dictionary._id %>"><button>Создать</button></a>
                        <a href="/study/words/<%= dictionary._id %>"><button>Учить</button></a>
                        <a href="/study/repetition"><button>Повторить</button></a>
                    </div>

                    <h1><%= dictionary.name %></h1>
                    <% if (dictionary.words.length> 0) { %>
                        <table>

                            <tbody>
                                <% dictionary.words.forEach(word=> { %>
                                    <tr>
                                        <td class="dictionaryList_td">
                                            <%= word.word %>
                                        </td>
                                        <td class="dictionaryList_td">
                                            <%= word.translation %>
                                        </td>
                                        <td class="td_editWord dictionaryList_td">
                                            <!-- Формируем ссылки для редактирования и удаления слов -->

                                            <% if(word.enum !='new' ) { %>

                                                <% } else {%>
                                                    <% } %>
                                                        <form
                                                            action="/words/editWord/<%= word._id %>?dictionaryId=<%= dictionary._id %>"
                                                            method="GET">
                                                            <input type="hidden" name="dictionaryId"
                                                                value="<%= dictionary._id %>">
                                                            <button class="edit-button"
                                                                type="submit">Редактировать</button>
                                                        </form>
                                                        <form action="/words/deleteWord/<%= word._id %>" method="POST"
                                                            onsubmit="return confirm('Вы уверены?')">
                                                            <button class="edit-button" type="submit">Удалить</button>
                                                        </form>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <p>В этом разделе нет терминов.</p>
                            <% } %>
                </div>
            </div>
</body>

</html>