<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Сайт для интервального повторения информации. Поможет вам эффективно запоминать любую информацию и иностранные слова.">
    <meta name="keywords"
        content="интервальное повторение, запоминание информации, запоминание слов, запоминание иностранных слов, обучение, эффективное обучение, обучение с помощью интервалов, обучение с повторениями">
    <meta name="author" content="Райгель Владимир Александрович VRaygel">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Memboost Разделы</title>
</head>

<body>
    <%- include('template.ejs') %>
        <%- include('menu.ejs') %>
            <div class="container">
                <div class="wrapper">
                    <h1>Разделы</h1>
                    <div class="newDictonaries">
                        <!-- <h2>Создать</h2> -->
                        <form action="/dictionaries" method="POST">
                            <label for="dictionaryName">Название раздела:</label>
                            <input type="text" id="dictionaryName" name="dictionaryName" required>
                            <button class="create-button" type="submit">Создать</button>
                        </form>
                    </div>
                    <% if (dictionaries.length> 0) { %>
                        <% dictionaries.forEach(dictionary=> { %>
                            <a href="/dictionaries/dictionariesList/<%= dictionary._id %>">
                                <h2 class="dictionaries_h2">
                                    <%= dictionary.name %>
                                </h2>
                            </a>
                            <% }); %>
                                <% } else { %>
                                    <p>У вас пока нет созданных разделов.</p>
                                    <% } %>
                </div>
            </div>
            <%- include('footer.ejs') %>
                <!-- JavaScript для подтверждения удаления словаря -->
                <script>
                    function confirmDelete(dictionaryId) {
                        if (confirm("Вы уверены, что хотите удалить этот словарь?")) {
                            window.location.href = "/dictionaries/deleteDictionary?id=" + dictionaryId;
                        }
                    }
                </script>
</body>

</html>