<!-- createUser.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Создание нового пользователя</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }
        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        input[type="text"], input[type="password"], input[type="checkbox"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <%- include('template.ejs') %>
	<% if (typeof user === 'undefined') { %>
		<% var user = null; %>
<% } %>
    <div class="container">
			<%- include('menu.ejs') %>
			<% if(user) { %>
        <h1>Редактировать пользователя</h1>
        <form action="/admin/editUser/<%= user._id %>" method="post">
            <label for="userlogin">Логин:</label>
            <input type="text" id="userlogin" name="userlogin" value ="<%= user.userlogin %>" readonly>
            <input type="hidden" id="password" name="password" value ="<%= user.password %>">
            <label for="username">Имя:</label>
            <input type="text" id="username" name="username" value ="<%= user.username %>">
            <label for="userstatus">Статус:</label>
            <% if (user.userstatus == 'admin') { %>
                <select id="userstatus" name="userstatus">
                    <option value="admin">admin</option>
                </select><br>
                <% } else { %>
						<select id="userstatus" name="userstatus">
							<option value="user">simpleUser</option>
							<option value="admin">admin</option>
						</select><br>
                <% } %>
            <label for="memoCoin">Баланс MemoCoin:</label>
            <input type="text" id="memoCoin" name="memoCoin" value ="<%= user.balance.memoCoin %>">
            <label for="dictionariesMax">Максимум словарей:</label>
            <input type="text" id="dictionariesMax" name="dictionariesMax" value ="<%= user.dictionaries.dictionariesMax %>">
            <label for="wordsMax">Максимум Слов:</label>
            <input type="text" id="wordsMax" name="wordsMax" value ="<%= user.words.wordsMax %>">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value ="<%= user.contactinfo.email.email %>">
            <label for="phoneNumber">Телефон:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" value ="<%= user.contactinfo.phoneNumber  %>">
						<label>Оповещение по Email:</label>
						<input type="checkbox" name="emailNotification" <%=(user.alerts.email ? 'checked' : '') %>>
            <label>Оповещение по WhatsApp:</label>
            <input type="checkbox" name="whatsappNotification" <%=(user.alerts.whatsapp ? 'checked' : '') %>>
            <label>Оповещение по Telegramm:</label>
            <input type="checkbox" name="telegramNotification" <%=(user.alerts.telegramm ? 'checked' : '') %>>
            <label>Оповещение по Push-уведомлениям:</label>
            <input type="checkbox" name="pushNotification" <%=(user.alerts.push ? 'checked' : '') %>>
            <button type="submit">Сохранить пользователя</button>
        </form>
				<% } %>
	</div>
</body>
</html>
