<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Сайт для интервального повторения информации. Поможет вам эффективно запоминать любую информацию и иностранные слова.">
    <meta name="keywords"
        content="интервальное повторение, запоминание информации, запоминание слов, запоминание иностранных слов, обучение, эффективное обучение, обучение с помощью интервалов, обучение с повторениями">
    <meta name="author" content="Райгель Владимир Александрович VRaygel">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Memboost Профиль</title>
</head>

<body>
    <%- include('template.ejs') %>
        <%- include('menu.ejs') %>
            <div class="container">
                <div class="wrapper">
                    <div class="header_h1">
                        <form class="deleteProfil" action="/user/deleteProfile" method="POST"
                            onsubmit="return confirm('Вы уверены?')">
                            <!-- <a type="submit">Удалить профиль</a> -->
                            <button class="delete-button" type="submit"><a>Удалить профиль</a></button>
                        </form>
                        <h1>
                            <%= user.username %>
                        </h1>
                    </div>
                    <div class="balanceInfo">
                        <!-- <div class="purchase">
                            <a href="/purchase">Купить</a>
                        </div> -->
                        <p>Баланс: <%= user.balance.memoCoin %> MemoCoin</p>
                        <!-- <p>Разделов могу создать: <%= user.dictionaries.dictionariesMax %></p> -->
                        <!-- <p>Терминов могу создать: <%= user.words.wordsMax %></p> -->
                    </div>
                    <form class="deleteProfil" action="/password/updateUserPassword" method="GET">
                            <!-- <a type="submit">Удалить профиль</a> -->
                            <button class="delete-button" type="submit"><a>Изменить пароль</a></button>
                        </form>
                    <form class="profilInfo" action="/user/updateUserProfil" method="post">
                        <h2>Контакты</h2>
                        <label for="username">Имя:</label>
                        <input type="text" id="username" name="username" value="<%= user.username %>" placeholder="Имя">
                        <label for="useremail">Email: <% if (user.contactinfo.email.confirmation) { %>
                            <p style="display: none;">Email подтверждён</p>
                            <% } else { %>
                                не подтверждён
                                <% } %></label>
                       
                                    <input type="text" id="useremail" name="useremail"
                                        value="<%= user.contactinfo.email.email %>" placeholder="Email">
                                    <label for="phoneNumber">Телефон:</label>
                                    <input class="last-input" type="text" id="phoneNumber" name="phoneNumber"
                                        value="<%= user.contactinfo.phoneNumber %>" placeholder="Телефон">
                                    <h2>Настройки оповещений</h2>
                                    <p class="updateAlerts">
                                        <input class="updateAlerts_checkbox" type="checkbox" name="email" <% if
                                            (user.alerts.email) { %> checked <% } %>>
                                            Оповещение по Email
                                    </p><br>
                                    <p class="updateAlerts">
                                        <input class="updateAlerts_checkbox telegram-checkbox" type="checkbox"
                                            name="telegramm" <% if (user.alerts.telegramm) { %> checked <% } %>>
                                            <!-- <input type="checkbox" name="telegramm" > -->
                                            Оповещение по Telegramm
                                    </p>
                                    <div class="telegrammTooltip" id="telegrammTooltip">
                                        <p>
                                            <%= user.username %>, чтобы подписаться на уведомления в Telegramm,
                                                отправьте
                                                сообщение "<%= user.id %>" (без кавычек) в чат-бот Telegramm <a style="color:#febb38"
                                                        href="https://t.me/MemoriaBot_bot"
                                                        target="_blank">MemoriaBot_bot</a>
                                        </p>
                                        <!-- <button class="closeTooltip" id="closeTooltip">Закрыть</button> -->
                                    </div>
                                    <button class="edit-button" type="submit">Сохранить профиль</button>

                    </form>
                    <a href="/auth/logout"><button class="edit-button" type="submit">Выйти</button></a>
                </div>
            </div>

            <script src="/js/script.js"></script>
            <%- include('footer.ejs') %>
</body>

</html>