<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Сайт для интервального повторения информации. Поможет вам эффективно запоминать любую информацию и иностранные слова.">
	<meta name="keywords"
		content="интервальное повторение, запоминание информации, запоминание слов, запоминание иностранных слов, обучение, эффективное обучение, обучение с помощью интервалов, обучение с повторениями">
	<meta name="author" content="Райгель Владимир Александрович VRaygel">
	<link rel="icon" href="./favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/style.css">
	<title>Memboost Повторение Термина</title>
</head>

<body>

	<%- include('menu.ejs') %>
		<div class="container">
			<div class="wrapper">
				<h1>Повторение слова</h1>
				<div class="studyWord">
					<label for="word">Вы помните это?:</label>
					<div style="white-space: pre-wrap;">
						<p><%= wordParameter %></p>
					</div>
					<!-- <input type="text" id="word" name="word" value="<%= wordParameter %>"></input> -->
				</div>
				<button class="create-button" id="myButtonShow">Показать ответ</button>
				<div class="myDiv">
					<% if(wordParameter==word.translation){ %>
						<div class="studyWord">
							<label for="word">Ответ:</label>
							<div style="white-space: pre-wrap;">
								<p><%= word.word %></p>
							</div>
							<!-- <input type="text" id="word" name="word" value="<%= word.word %>"></input> -->
						</div>
						<% } else { %>
							<div class="studyWord">
								<label for="word">Ответ:</label>
								<div style="white-space: pre-wrap;">
									<p><%= word.translation %></p>
								</div>
								<!-- <input type="text" id="word" name="word" value="<%= word.translation %>"></input> -->
							</div>
							<% } %>
				</div>
				<form action="/study/studyWord/<%= word._id %>" method="POST">
					<input type="hidden" name="wordId" value="<%= word._id %>">
					<input type="hidden" name="complexity" value="forgot">
					<!-- Скрытое поле для передачи значения complexity -->
					<button class="create-button" type="submit">Не помню</button>
				</form>
				<form action="/study/repetition/<%= word._id %>" method="POST">
					<input type="hidden" name="wordId" value="<%= word._id %>">
					<input type="hidden" name="complexity" value="normal">
					<!-- Скрытое поле для передачи значения complexity -->
					<button class="create-button" type="submit">Помню</button>
				</form>
			</div>
		</div>
		<%- include('footer.ejs') %>
			<script>

				let button = document.getElementById("myButtonShow");
				let div = document.querySelector(".myDiv");
				const styles = window.getComputedStyle(div);

				// Добавляем обработчик события click для кнопки
				button.addEventListener("click", function () {
					const display = styles.display;

					// Если div скрыт, показываем его, иначе скрываем
					if (display === "none") {
						console.log('первый иф')
						div.style.display = "block";
						button.textContent = "Скрыть ответ";
					} else {
						console.log('второй иф');
						div.style.display = "none";
						button.textContent = "Показать ответ";
					}
				});

			</script>
			<script src="/js/script.js"></script>
</body>

</html>