<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Memoria Запоминание термина</title>
</head>

<body>
	<%- include('template.ejs') %>
		<%- include('menu.ejs') %>
			<div class="container">
				<div class="wrapper">

					<h1>Запоминание термина</h1>
					<div class="studyWord">
						<label for="word">Темин:</label>
						<input type="text" id="word" name="word" value="<%= word.word %>"></input>
	
						<label for="translation">Определение:</label>
						<input type="text" id="translation" name="translation" value="<%= word.translation %>"></input>
					</div>
					
					<form action="/study/words/<%= word._id %>" method="POST">
						<input type="hidden" name="dictionaryId" value="<%= dictionary._id %>">
						<input type="hidden" name="complexity" value="normal">

						<button class="create-button" type="submit">Запомнил</button>
					</form>
					<!-- <form action="/study/<%= word._id %>/repeated" method="POST">
						<input type="hidden" name="dictionaryId" value="<%= dictionary._id %>">
						<input type="hidden" name="complexity" value="hard">
						
						<button class="learn-button" type="submit">Трудно</button>
					</form> -->


					<!-- <form action="/repetition/<%= word._id %>" method="POST">
						<input type="hidden" name="wordId" value="<%= word._id %>">
						<button type="submit" name="difficulty" value="easy">Легко</button>
						<button type="submit" name="difficulty" value="normal">Нормально</button>
						<button type="submit" name="difficulty" value="hard">Тяжело</button>
						<button type="submit" name="difficulty" value="forgot">Не помню</button>
					</form> -->
				</div>
			</div>
</body>

</html>