<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Сайт для интервального повторения информации. Поможет вам эффективно запоминать любую информацию и иностранные слова.">
	<meta name="keywords"
		content="интервальное повторение, запоминание информации, запоминание слов, запоминание иностранных слов, обучение, эффективное обучение, обучение с помощью интервалов, обучение с повторениями">
	<meta name="author" content="Райгель Владимир Александрович VRaygel">
	<link rel="icon" href="./favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/style.css">
	<title>Memboost Запоминать термины</title>
</head>

<body>
	<%- include('template.ejs') %>
		<%- include('menu.ejs') %>
			<div class="container">
				<div class="wrapper">
					<h1> Запоминание слов: <%= dictionary.name %>
					</h1>
					<% if (dictionary.words.length> 0) { %>
						<% dictionary.words.forEach(word=> { %>
							
							<% if(word.enum=='new' ) { %>

								<div class="dictionaryList_wrap">
									<div class="purchase">
											<form class="deleteProfil" action="/study/studyWord/<%= word._id %>" method="GET">
													<button class="delete-button" type="submit"><a>Запоминать</a></button>
											</form>
											<form class="deleteProfil" action="/study/words/<%= word._id %>" method="POST">
													<button class="delete-button" type="submit"><a>Запомнил</a></button>
											</form>
									</div>

									<div class="dictionaryList_item" style="white-space: pre-line;">
										<p><%= word.word %></p>
									</div>

									<div class="dictionaryList_item" style="white-space: pre-line;">
										<p><%= word.translation %></p>
									</div>
							</div>
							
							
										<% }; %>
											<% }); %>

						<% } else { %>
							<p>В этом словаре нет слов.</p>
							<% } %>
				</div>
			</div>
			<%- include('footer.ejs') %>
</body>

</html>